.github
.gitignore
.husky
.prettierignore
.vscode
dist/**.map
dist/tests**
fixtures
node_modules
out
pnpm-lock.yaml
src
trailing-**/**
trailing-**.zip
trailing-**.vsix
tsconfig.json
webpack.config.cjs
